{% load tz %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>ASK-CS</title>
    <style>
    input[type="text"]{
        border: 2px solid blue;
        border-radius: 4px;
        width: 50%;
    }
    input[type="text"]:focus{
        width: 600px;
    }
    button {
        border-radius: 12px;
        background: #ecbebe;
    }
    button:hover{
        background-color: #6372e0;
    }
    nav{
        background-color:#8DCAFF;
    }
    html{
        background-color:var(--bg-color2);
    }
    .jumbotron{
        text-align:center;
        background-color:var(--bg-color2);
    }
    .display-4{
        color:#5F4D48;
        font-family: 'Satisfy', cursive;
    }
    .container-fluid{
        background-color:white;
        height:200px;
    }
    #ask{
	    background-color:white;
    }
    h3{
	    background-color:#617574;
    }
    .sectionpertanyaan {
        margin-top: 20px;
        background-color: #a2abe1;
        padding: 30px;
        margin-bottom: 10px;
        border-radius: 70px;
        float: left;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .sectionjawab{
        width: 100%;
        border-radius: 70px;
        text-align: center;
    }
    .sectionjawab hr{
        height: 1px;
        background: white;
        width: 50%;
        margin-top: 5px;
    }
    hr {
        height: 3px;
        background: black;
    }
    h1 {
        color: black;
        text-align: center;
        padding: 18px;
        margin: 0 0 10px 0;
    }
    .sectionpertanyaan li{
        background-color: #d2d8fe;
    }
    body{
        background-color:var(--bg-color2);
        color: var(--font-color);
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a href="{% url 'homepage:index' %}"> <img src="{% static 'images/logoo.png' %}" height="50" width="50"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'LoginReg:login' %}" style="color:black; margin-right: 20px; margin-left: 20px">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'LoginReg:registration' %}" style="color:black; margin-right: 20px; margin-left: 20px">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'beranda:post' %}" style="color:black; margin-right: 20px; margin-left: 20px">ASK</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
        Dark Mode
    </div>

    <div style="text-align: center;">
        <h2> {{blog.Title}} </h2>
        <p> {{blog.Content | safe}} </p>
    </div>
    {% if user.is_authenticated %}
    <div class="sectionpertanyaan" style="width: 70%;margin-left: 15%; color: black;">
        <h1>Tuliskan Pertanyaan Kamu !</h1>
        <div style="text-align: center;">
        <form action="." method="post">
            {% csrf_token %}
            <p>Nama :</p>
            {{comment_form.Name}} <br>
            <p>Pertanyaan :</p>
            {{comment_form.Body}} <br><br>
            <button type="submit">Tambah Pertanyaan</button>
        </form>
        </div>
    </div>
    

    <!-- coment untuk pertanyaan -->
    {% for comment in comments %}
        <div class="sectionpertanyaan" style="color: black">
        <div class="section">
            <h4>Pertanyaan dari : {{comment.Name}} </h4>
            <h7><i>{{comment.Created | localtime}}</i></h7>
            <h1><b> " {{ comment.Body }}    "</b></h1>
            <hr>
         </div>
    
        <ul>
        {% for reply in comment.replies.all %}
            <li style="margin-bottom: 10px;"><i> Penjawab : {{reply.Name}} </i>
                <i>[ {{reply.Created}} ]</i>
                <h2 style="margin-left:15px">{{reply.Body}}</h2><br>
                </li>
                <hr>    
        {% endfor %}
        </ul>
        <div class="sectionjawab" style="background:#c2c2e3">
        <p style="font-size: 2vw; margin-bottom: 2px;">Berikan jawabanmu disini !</p><hr>
            <form action="." method="post">
                {% csrf_token %}
                <p style="margin-bottom: 1px; font-size: 20px;">Nama</p>
                {{comment_form.Name}}
                <p style="margin-bottom: 1px; font-size: 20px;">Jawaban</p>
                {{comment_form.Body}}
                <br>
                <input type="hidden" name="Parent_id" value="{{ comment.id }}">
                <button type="submit" style="margin-top: 10px;">Tambah Jawaban</button>
            </form>
        </div>
        </div>
        {% empty %}
            <h4 class="ml-3">Belum ada pertanyaan.....</h4>
    {% endfor %}
    {% else %}
    <div style="text-align: center; width: 50%; background-color: #ecbebe; margin-left: 25%; border-radius: 20px; border-color: black;border-style: dotted;">
        <p><a style='text-decoration: none; font-size: 24px;' href="{% url 'LoginReg:login' %}">login</a></p> <hr>
        <p><a style='text-decoration: none; font-size: 24px;' href="{% url 'LoginReg:registration' %}">register</a></p>
    </div>
    {% endif %}  
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
