{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
    nav{
        background-color:#8DCAFF;
    }
    html{
        background-color: var(--bg-color2);   
    }
    .jumbotron{
        text-align:center;
        background-color: var(--bg-color2);
    }
    .display-4{
        color:#5F4D48;
        font-family: 'Satisfy', cursive;
    }
    .container-fluid{
        background-color:white;
        height:200px;
    }
    #ask{
	    background-color:white;
    }
    h3{
	    background-color:#617574;
    }
    body{
        color: var(--font-color);
    }
    </style>
    <title>Category</title>
</head>
<body style="background-color: var(--bg-color2);">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a href="{% url 'homepage:index' %}"> <img src="{% static 'images/logoo.png' %}" height="50" width="50"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'LoginReg:logout' %}" style="color:black; margin-right: 20px; margin-left: 20px">Logout <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{% url 'LoginReg:login' %}" style="color:black; margin-right: 20px; margin-left: 20px">Login <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'LoginReg:registration' %}" style="color:black; margin-right: 20px; margin-left: 20px">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'beranda:post' %}" style="color:black; margin-right: 20px; margin-left: 20px">ASK</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
        Dark Mode
    </div>

    <div class="row mt-4 ml-3" style="background-color: var(--bg-color2);">
    {% for data in post %}
    <div class='col-lg-3 col-sm-4 mb-4 mt-10'>  
    <div class="card h-100" style="width: 18rem;">
            <div class="card-body" style="color: black;">
              <h5 class="card-title" style="text-align: center;"> {{data.Title}} </h5>
              <hr>
              <h6 class="card-subtitle mb-2 text-muted">ASK-CS</h6>
              <p class="card-text"> {{data.Content}} </p>
              <a href="{% url 'beranda:detail' slug=data.Slug %}" class="card-link"><span class="badge badge-primary"><b>Masuk Kelas</b></span></a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>









