:root {
    --font-color: black;
    --bg-color: #8DCAFF;
    --bg-color2: #CAE9FF;
    --form-color: white;
  }
[data-theme="dark"] {
    --font-color: white;
    --bg-color: black;
    --bg-color2: black;
    --form-color: rgb(200, 200, 200);
}
.theme-switch-wrapper{
    font-weight: 500;
}
.theme-switch {
    margin-top: 3px;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}
.slider {
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.slider:before {
    background-color: #fff;
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    content: "";
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(0, 183, 255);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 34px;
}