<!DOCTYPE html>

{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">

<style>
nav{
  background-color:#8DCAFF;
}
html{
  background-color:#CAE9FF;
}
.jumbotron{
  text-align:center;
  background-color:#CAE9FF;
}
.display-4{
  color:#5F4D48;
  font-family: 'Satisfy', cursive;`	
}
.container-fluid{
  background-color:white;
  height:200px;
}
#ask{
	background-color:white;
}
h3{
	background-color:#617574;
}


</style>
<title> Welcome to ask.cs </title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a href="{% url 'homepage:index' %}"> <img src="{% static 'images/logoo.png' %}" height="50" width="50"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'LoginReg:login' %}" style="color:black">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'LoginReg:registration' %}" style="color:black">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:post' %}" style="color:black">ASK</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Test -->
<div class="jumbotron">
  <h1 class="display-4">“We will provide all <br>the answers for you.”</h1>
  
  <hr class="my-4">
  <p><i>"Yu bisa yu"</i> <br> -Bukan Aristoteles</p>
  <a class="btn btn-primary btn-lg" href="{% url 'LoginReg:login' %}" style="background-color:white;color:black;" role="button">Login to ask your question!</a>
</div>

<div class="container-fluid">
</div>

<div class="jumbotron">
  <h2 >HELP OUR FRIENDS</h2>
  	<div id="ask">
  		<h3 style="padding:10px;color:white"> Penanya: Nevil </h3>
  		<h6 style="line-height:1.5;padding:20px"> Diketahui vektor a = 4i -2j +2k <br> dan vektor b = 2i + 6j + 4k. 
  		<br>proyeksi orthogonal vektor b pada vektor a adalah? </h6> 

  		<a class="btn btn-primary btn-lg" href="{% url 'beranda:post' %}" style="background-color:white;color:black;margin-bottom:20px;" role="button">Bergabung dan mulai bantu</a>
  	</div>
  
</div>


</body>
</html>