{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Askcs</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">

    </head>
    <style>
        .other1{
            width: 850px;
        }
        .other2{
            width: 150px;
            text-align: right;
        }
        nav{
        background-color:#8DCAFF;
        }
        html{
          background-color: var(--bg-color2);
            color: var(--font-color);
        }
        body{
          background-color: var(--bg-color2);
          color: var(--font-color);
        }
        .jumbotron{
          text-align:center;
          background-color:#CAE9FF;
        }
        p{
          text-align: center;
        }
      </style>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="{% url 'homepage:index' %}"> <img src="{% static 'images/logoo.png' %}" height="50" width="50"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'LoginReg:login' %}" style="color:black">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'LoginReg:registration' %}" style="color:black">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'beranda:post' %}" style="color:black">ASK</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="theme-switch-wrapper">
          <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
          </label>
          Dark Mode
      </div></br>
      {% if user.is_authenticated %}
      <p><a style='text-decoration: none; font-size: 32px;'>Hello, {{ user.username }}</a></p>
      <p><a href="{% url 'beranda:post' %}" style='font-size: 40px;'> AYO MULAI! </a></p></br>
      <p><a style='text-decoration: none; font-size: 24px;' href="{% url 'LoginReg:logout' %}">logout</a></p>
      {% else %}
      <p><a style='text-decoration: none; font-size: 24px;' href="{% url 'LoginReg:login' %}">login</a></p>
      <p><a style='text-decoration: none; font-size: 24px;' href="{% url 'LoginReg:registration' %}">register</a></p>
      {% endif %}
      <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>