{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Askcs | Login </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <style>
            nav{
                background-color:#8DCAFF;
            }
            body{
              background-color: var(--bg-color2);
                color: var(--font-color);
            }
        </style>

    </head>


    <body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a href="{% url 'homepage:index' %}"> <img src="{% static 'images/logoo.png' %}" height="50" width="50"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'LoginReg:login' %}" style="color:black">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'LoginReg:registration' %}" style="color:black">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:post' %}" style="color:black">ASK</a>
      </li>
    </ul>
  </div>
</nav>
<div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
    </label>
    Dark Mode
</div>

    <div style="margin: 5%; background-color: var(--bg-color2)">
        <form action="{% url 'LoginReg:login' %}" method="POST">
            <p style="font-size: 30px;">Login</p></br>
            {% csrf_token %}
            <div style="display: flex; flex-direction: column; background-color: #F8D9D9; width: 40%; padding: 1%;">
                <div class="form-group">
                    <label for="username" style="color: black;">Username</label>
                    <input type="username" name="username" class="form-control" id="username" style="width: 100%;">
                    </br>
                </div>
                <div class="form-group">
                    <label for="password" style="color: black;">Password</label>
                    <input type="password" name="password" class="form-control" id="password" style="width: 100%;">
                </div>
            </div>
            </br>
            <button type="submit" class="btn btn-primary">login</button>
  
            </br></br><p>Don't have an account? Go to <a href="{% url 'LoginReg:registration' %}">registration</a> page for creating a brand new account</p>
        </form>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>